{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Plans: {{ plan }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "plans:list" %}">Plans</a></li>
                    <li class="breadcrumb-item"><a href="{{ plan.get_absolute_url }}">{{ plan }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Delete</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Delete {{ plan }}</h1>
            <form class="form-horizontal" method="post" action="{% url 'plans:delete' plan.pk %}">
                {% csrf_token %}
                <p>Are you sure you want to delet this plan?  This will also delete all entries!</p>
                <div class="plan-group">
                    <div class="plans">
                        <button type="submit"
                                class="btn btn-danger">Confirm</button>
                        <a class="btn btn-warning" href="{{ plan.get_absolute_url }}" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}